*, body{
  margin: 0;
}

a, button, link, Link{
  color:#000000;
  text-decoration: none;
  font-weight: 700;
}
h1{
  font-weight: 900;
}
.main {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
#title-left{
  text-align: left;
}
form{
  text-align: left;
}
label{
  font-weight: bold;
}
form input:focus {
  outline:none;
}
/* Login */
.user-main{
  height: 425px;
  margin-top: 50px;
  background: rgba( 255, 255, 255, 0.35 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 16px );
  -webkit-backdrop-filter: blur( 16px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width:400px;
  padding:40px;
  justify-content: center;
  flex-direction: column;
}
.user-main2{
  height: 550px;
  margin-top: 40px;
  background: rgba( 255, 255, 255, 0.35 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 16px );
  -webkit-backdrop-filter: blur( 16px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width:400px;
  padding:40px;
  justify-content: center;
  flex-direction: column;
}
input{
  width:90%;
  height: 35px;
  padding: 5px;
  font-size: 17px;
  border-width: 0px;
  background: rgba( 242, 241, 241, 0.65 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 1px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: #000000;
  border-style: hidden;
  border-radius: 6px;
  box-shadow: 0px 0px 0px rgba(66,66,66,.61);
}
.user-btn{
  width: 95%;
  padding: 10px;
  cursor:pointer;
  border: none;
  border-radius: 8px;
  background: #0A2127;
  color:aliceblue;
}
form .usersname, form .contact{
  width:100%;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  flex-wrap: wrap ;
}
#username-tab{
  width:50%;
}
#username-tab{
  width:50%;
}
/* Animated Background */
@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}

.background {
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: rgb(70,52,207);
  background: linear-gradient(357deg, rgba(70,52,207,1) 0%, rgba(196,244,254,1) 100%);
  overflow: hidden;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 47s linear infinite;
}




.background li:nth-child(0) {
  left: 12%;
  width: 134px;
  height: 134px;
  bottom: -134px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 78%;
  width: 63px;
  height: 63px;
  bottom: -63px;
  animation-delay: 2s;
}
.background li:nth-child(2) {
  left: 84%;
  width: 78px;
  height: 78px;
  bottom: -78px;
  animation-delay: 1s;
}
.background li:nth-child(3) {
  left: 56%;
  width: 72px;
  height: 72px;
  bottom: -72px;
  animation-delay: 2s;
}
.background li:nth-child(4) {
  left: 51%;
  width: 96px;
  height: 96px;
  bottom: -96px;
  animation-delay: 8s;
}
.background li:nth-child(5) {
  left: 34%;
  width: 80px;
  height: 80px;
  bottom: -80px;
  animation-delay: 5s;
}
.background li:nth-child(6) {
  left: 66%;
  width: 127px;
  height: 127px;
  bottom: -127px;
  animation-delay: 24s;
}