*, body{
  margin: 0;
}

a, button, link, Link{
  color:#000000;
  text-decoration: none;
  font-weight: 700;
}
p{
  font-size: 12px;
  font-weight: 400;
}
h1{
  font-weight: 900;
}
hr{
  width:90%;
}
.main {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
#title-left{
  text-align: left;
}
form{
  text-align: left;
}
label{
  font-weight: bold;
}
form input:focus {
  outline:none;
}
/* Login */
.user-main{
  height: 425px;
  margin-top: 50px;
  background: rgba( 255, 255, 255, 0.35 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 16px );
  -webkit-backdrop-filter: blur( 16px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width:400px;
  padding:40px;
  justify-content: center;
  flex-direction: column;
}
.user-main2{
  height: 575px;
  margin-top: 40px;
  background: rgba( 255, 255, 255, 0.35 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 16px );
  -webkit-backdrop-filter: blur( 16px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width:400px;
  padding:40px;
  justify-content: center;
  flex-direction: column;
}
input{
  width:90%;
  height: 35px;
  padding-left:20px;
  font-size: 17px;
  border-width: 0px;
  background: rgba( 242, 241, 241, 0.65 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 1px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: #000000;
  border-style: hidden;
  border-radius: 6px;
  box-shadow: 0px 0px 0px rgba(66,66,66,.61);
}
.user-btn{
  width: 95%;
  padding: 10px;
  cursor:pointer;
  border: none;
  border-radius: 8px;
  background: #0A2127;
  color:aliceblue;
  height:45px;
}
form .usersname, form .contact{
  width:100%;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  flex-wrap: wrap ;
}
#username-tab{
  width:50%;
}
#username-tab{
  width:50%;
} 
#sign-select{
  width:90%;
  height: 40px;
  padding: 5px;
  font-size: 15px;
  border-width: 0px;
  background: rgba( 242, 241, 241, 0.65 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 1px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-style: hidden;
  border-radius: 6px;
  color: #000000;
  box-shadow: 0px 0px 0px rgba(66,66,66,.61);
}
#sign-input{
  width:90%;
  height: 30px;
  padding: 5px;
  font-size: 17px;
  border-width: 0px;
  background: rgba( 242, 241, 241, 0.65 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 1px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: #000000;
  border-style: hidden;
  border-radius: 6px;
  box-shadow: 0px 0px 0px rgba(66,66,66,.61);
}
.user-btn{
  width: 95%;
  padding: 10px;
  cursor:pointer;
  border: none;
  border-radius: 8px;
  background: #0A2127;
  color:aliceblue;
}
/* home */
.home-main{
  padding-top:10px;
  /* position:relative; */
  display: flex;
  height:90vh;
  flex-direction: row;
}
h1{
  font-size: 80px; 
}
.main-page{
  margin-right: 10px;
  padding:0px;
  width: 95%;
  display:flex;
  flex-direction: column;
}

#select-suffix-box{
  font-size: 15px;
}
.personal{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgb(108,91,235);
  background: linear-gradient(180deg, rgba(108,91,235,1) 0%, rgba(196,244,254,0.09016106442577032) 100%);
  border-radius: 15px 15px 0 0;
}

.social{
  display:flex;
  flex-direction: row;
}
.social-sect{
  padding-left: 40px;
  padding-right: 40px;
  width:70%;
}
.greetings{
  width:70%;
  padding: 40px;
  border-radius: 15px 15px 0 0;
  display:flex;
  flex-direction: row;

  
}
.right-pane{
  padding:10px;
  display:flex;
  flex-direction: column;
  width:30%;
}
.profile-btn{
  display:flex;
  padding: 10px 20px;
  justify-content: space-between;
  width:7%;
  height: 40px;
  margin: 10px;
}
.profile-pic{
  text-overflow: none;
  width:35px;
  height:35px;
}
.profile-pic img{
  width:40px;
  height:40px;
  border-radius: 50%;
  background:#0A2127;
  
}
/* Sidebar */
.sidebar{
  display:flex;
  padding:7px;
  flex-direction: column;
  justify-content: space-between;
  width: 80px;
  height:95vh;
  z-index: 1;
}

.nav{
  display:flex;
  flex-direction: column;
  background:#D9D9D9;
  padding: 10px;
  justify-content: center;
  text-align: center;
  border-radius:15px;
  box-shadow: -10px 10px 153px -2px rgba(0,0,0,0.24);
  -webkit-box-shadow: -10px 10px 153px -2px rgba(0,0,0,0.24);
  -moz-box-shadow: -10px 10px 153px -2px rgba(0,0,0,0.24);
}
/* Story */
.story-cont{
  padding-top: 10px;
  padding-right: 20px;
  display:flex;
  flex-direction: column;
  height: 410px;
  overflow-y:scroll;
}
.story-card{
  padding: 10px;
  border-radius: 15px;
  border: 2px solid #D9D9D9;
  margin-bottom: 20px;
  width: 90%;
}
.story-identity{
  width: 180px;
  display: flex;
  justify-content: space-around;
}
.main-story{
  padding:10px;
  text-align: justify;
}
.main-story p{
  font-size: 12px;
}
/* Right Pane */
.right-pane{
  padding: 10px;
  display:flex;
  flex-direction: column;
}
.ann-main{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height:320px;
  padding:10px;
  margin-bottom: 20px;
}
.ann-card{
  padding: 15px;
  text-align: right;
  background: rgba(19, 11, 35, 0.90 );
  box-shadow: 0 5px 5px 0 rgba(5, 10, 84, 0.37);
  backdrop-filter: blur( 12.5px );
  -webkit-backdrop-filter: blur( 12.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  margin-bottom: 10px;
}
.ann-card p{
  font-size: 12px;
  text-align: justify;
  color:aliceblue;
}
.ann-card h4{
  color:cornflowerblue;
}
.access{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#browse-rec{
  width:300px;
  height: 60px;
  border: none;
  border-radius:15px;
  color: white;
  font-size: 18px;
  cursor:pointer;
  background:#0A2127;
}
/* Search */
.search-main, .data-pane{
  display:flex;
  flex-direction: column;
  padding:20px;
  padding-top: 10px;
  width:90%;
}
.search-main h2, .main-page h2{
  padding-left:15px;
  font-size: 36px;
  font-weight: 900;

}
.search-pane{
  padding: 15px;
  width: 600px;

}
#search{
  border-radius: 35px;
  padding-left: 20px;
  margin-bottom: 10px;
  box-shadow: -10px 10px 153px -2px rgba(0,0,0,0.56);
  -webkit-box-shadow: -10px 10px 153px -2px rgba(0,0,0,0.56);
  -moz-box-shadow: -10px 10px 153px -2px rgba(0,0,0,0.56);
  border:1px solid #0A2127;
}
.search-cat{
  display:flex;
  justify-content: space-between;
  width:800px;
  padding:10px;
}
.search-cat select{
  padding:10px;
  padding-right: 20px;
  border-radius:15px;
  background:#D9D9D9;
  color:#0A2127;
}
.search-cat select:hover{
  background: navy;
  border:#D9D9D9 solid 1px;
  color:aliceblue
}
.search-cat select option{
  background: #D9D9D9;
  color: #0A2127;
  padding:5px;
  font-size:15px;
}
.search-btn{
  width: 30%;
  padding: 10px;
  cursor:pointer;
  border: none;
  border-radius: 8px;
  background: #0A2127;
  color:aliceblue;
  height:45px;
}
.result-box{
  width:90%;
  height: 400px;
  overflow-y: hidden;
  cursor: grab;
}
.suggest-box{
  height: 150px;
}
.suggest-box-inner{
  width:90%;
  overflow-y: hidden;
  cursor: grab;
}
.records-main{
  display:flex;
  flex-direction:column;
  padding:20px;
  padding-top: 10px;
  width:90%;
  height:90vh;
}
.records-cont{
  display:flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: start;
  width: 95%;
  height:30vh;
  padding: 10px;
}
.records-cont div{
  width: 200px;
  text-align: center;
  border-radius:50px;
  height:35px;
  padding:0%;
  border: 3px solid rgb(154, 154, 154);
  margin-right: 20px;
  color:#0A2127;
  cursor: pointer;
}
.records-cont div:hover, #batch-chip:hover{
  background:#0A2127;
  color:aliceblue;
  border:none;
  box-shadow: -10px 10px 153px -2px rgba(0,0,0,0.56);
  -webkit-box-shadow: -10px 10px 153px -2px rgba(0,0,0,0.56);
  -moz-box-shadow: -10px 10px 153px -2px rgba(0,0,0,0.56);
}
/* Profile */
.profile-main{
  padding:10px;
}
.profile{
  display: flex;
  flex-direction: row;
}
.profile-box{
  padding: 15px;
  text-align: center;margin-right: 20px;
}
.pic-holder{
  width:300px;
  height:300px;
  overflow: hidden;
  border: 2px solid black;
  border-radius: 50%;;
}
#profile-pic{
  height:300px;
  width:300px;
}
#batch-chip{
  background: #D9D9D9;
  width: 100px;
  padding:5px;
  text-align: center;
  border-radius: 15px;
  font-weight: 900;
}
.profile-text{
  display:flex;
  flex-direction: column;
}
.profile-desc{
  margin-bottom: 15px;
}
.profile-chip{
  width:80%;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
}

.profile-chip div{
  margin-right: 15px;
  text-align: center;
  border: 2px solid #0A2127;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
}
.prof-story-box{
  display: flex;
  flex-direction: row;
  height: 250px;
}
.story-tit{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:80%;
}
.main-page-terminal{
  padding:0px;
  width: 100%;
  display:flex;
  flex-direction: column;
}
.data-pane{
  display: flex;
  flex-direction: row;
  width: 95%;
}
.data-terminal{
  width:500px;
  margin-right: 10px;;
}
.add-item-cont{
  display: flex;
  flex-direction: column;
}
.add-item{
  height:80px;
  display: flex;
  flex-direction: column;
}
.add-item input{
  font-size: 14px;
  height: 40px;
  width:90%;
}
.class-desc{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.class-desc input{
  width: 100px;
}
.rec-add{
  padding-left:20px;
  width:900px;
}

/* Animated Background */
@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}

.background {
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: rgb(70,52,207);
  background: linear-gradient(357deg, rgba(70,52,207,1) 0%, rgba(196,244,254,1) 100%);
  overflow: hidden;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 47s linear infinite;
}




.background li:nth-child(0) {
  left: 12%;
  width: 134px;
  height: 134px;
  bottom: -134px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 78%;
  width: 63px;
  height: 63px;
  bottom: -63px;
  animation-delay: 2s;
}
.background li:nth-child(2) {
  left: 84%;
  width: 78px;
  height: 78px;
  bottom: -78px;
  animation-delay: 1s;
}
.background li:nth-child(3) {
  left: 56%;
  width: 72px;
  height: 72px;
  bottom: -72px;
  animation-delay: 2s;
}
.background li:nth-child(4) {
  left: 51%;
  width: 96px;
  height: 96px;
  bottom: -96px;
  animation-delay: 8s;
}
.background li:nth-child(5) {
  left: 34%;
  width: 80px;
  height: 80px;
  bottom: -80px;
  animation-delay: 5s;
}
.background li:nth-child(6) {
  left: 66%;
  width: 127px;
  height: 127px;
  bottom: -127px;
  animation-delay: 24s;
}